@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}
li {
  list-style-type: none;
}
ul {
    padding: 0;
    margin: 0;
}
h5 {
  margin: 0;
}
h4 {
  margin: 0;
}
h1 {
  margin: 0;
}
h3 {
  margin: 0;
}

h2 {
  margin: 0;
}
header {
  height: 100%;
}
.sidebar {
  width: 306px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 28px;
  padding-top: 36px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.sidebar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 53px;
}
.logo_name {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  margin: 0;
  margin-left: 8px;
  margin-right: 4px;
}
.logo_version {
  color: #838383;

  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
}
.menucont_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 18px;
}

.menucont_li {
  border-radius: 8px;
  background: transparent;
  padding: 11px 8px 11px 11px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
}
.menucont_li p {
  color: #9197b3;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  margin: 0;
}
.menucont_buttons {
  stroke: #9197b3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s;
}
.menucont_li:hover {
  background-color: #5932ea;
  cursor: pointer;
}
.menucont_li:hover p{
color: #fff;
}
.menucont_li:hover .menucont_icons path {
  stroke: #fff;
}
.menucont_li:hover .menucont_buttons path {
  stroke: #fff;
}
.menucont_li_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.sidebar_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 28px;
  bottom: 36px;
}
.profile_wrap_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 12px;
}
.profile_name {
  color: #000;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
  margin: 0;
}
.profile_work {
  color: #757575;

  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin: 0;
}
/* -----------------------------------------------------------------MAIN------------------------------------------------------------------- */

.mainsect {
  width: 100%;
  height: 100%;
  margin-left: 71px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 41px;
  box-sizing: border-box;
}
.searchline_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.mainsect_searchline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainsect_hello {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 51px;
}
.mainsect_costumers {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-bottom: 7px;
}
.mainsect_members {
  margin: 0;
  color: #16c098;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}
.mainsect_table {
  padding-top: 30px;
  padding-left: 38px;
  padding-right: 44px;
  min-width: 968px;
  box-sizing: border-box;
  background-color: #FFF;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
  border-radius: 30px;
  position: relative;
}
.mainsect_label {
  margin-right: 53px;
  padding: 7px 8px 7px 8px;
  border-radius: 10px;
  background: #f9fbff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainsect_input {
    background-color: transparent;
    border: none;
    margin-left: 8px;
    outline: none;
   color: #B5B7C0;

    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px; ;
}
.mainsect_input ::placeholder {
    color: #B5B7C0;

    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px; ;
}
.mainsect_costumers_list {
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}
.mainsect_column_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mainsect_column_list_name li{
    color: #292D32;
list-style-type: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    white-space: nowrap;
    text-align: left;
    margin-bottom: 48px;
}
.mainsect_column_list_company li{
    color: #292D32;
list-style-type: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 48px;
} 
.mainsect_column_list_company li:nth-child(1){
  color: #B5B7C0;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  margin-right: 61px;
  list-style-type:none ;
  margin-bottom: 38px;
} 
.mainsect_column_list_number li{
    color: #292D32;
list-style-type: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 48px;
}
.mainsect_column_list_number li:nth-child(1){
  color: #B5B7C0;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  list-style-type:none ;
  margin-bottom: 38px;
  margin-right: 52px;
}
.mainsect_column_list_email li{
    color: #292D32;
list-style-type: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    white-space: nowrap;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
    text-align: left;
    margin-bottom: 48px;
}
.mainsect_column_list_email li:nth-child(1){
  color: #B5B7C0;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  margin-right: 168px;
  list-style-type:none ;
  margin-bottom: 38px;
}
.mainsect_column_list_country li{
    color: #292D32;
list-style-type: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    line-height: normal;
    letter-spacing: -0.14px;
    text-align: left;
    margin-bottom: 48px;
}
.mainsect_column_list_country li:nth-child(1){
  color: #B5B7C0;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  margin-right: 96px;
  list-style-type:none ;
  margin-bottom: 38px;
}
.mainsect_column_list_name {
    color: #B5B7C0;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
}
.mainsect_column_list_name li:nth-child(1) {
  color: #B5B7C0;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  margin-right: 57px;
  list-style-type:none ;
  margin-bottom: 38px;
}
.mainsect_status_firstpoint {
  color: #B5B7C0;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style-type:none ;
  letter-spacing: -0.14px;
  text-align:center;
  margin-bottom: 34px;
}
.mainsect_column_list_status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .mainsect_column_list_company {
    margin-right: 61px;
}
.mainsect_column_list_number {
    margin-right: 52px;
}
.mainsect_column_list_email {
    margin-right: 38px;
}
.mainsect_column_list_country {
    margin-right: 96px;
} */
.mainsect_active_button {
  display: flex;
  padding: 4px 18px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 1px solid #00B087;
color: #008767;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
background: rgba(22, 192, 152, 0.38);
margin-bottom: 40px;
}
.mainsect_inactive_button {
  display: flex;
padding: 4px 12px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 1px solid #DF0404;
background: #FFC5C5;
color: #DF0404;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
margin-bottom: 40px;
}
.mainsect_table_navigation {
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}
.mainsect_button_navigation {
  color: #404B52;
font-family: Poppins;
font-size: 12px;
gap: 12px;
width: 26px;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
height: 24px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 12px */
letter-spacing: -0.12px;
border-radius: 4px;
border: 1px solid #EEE;
background: #F5F5F5;
}
.mainsect_button_navigation_more {
  background-color: transparent;
  color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 12px */
letter-spacing: -0.12px;
}
.mainsect_button_navigation_more:hover {
border: none;
}
.mainsect_list_navigation_buttons {
  display: flex;
align-items: center;
justify-content: center;
gap: 12px;
}
.mainsect_button_navigation:hover {
  color: #FFF;
  background-color:#5932EA ;
  border: 0;
}
.mainsect_info_page {
  color: #B5B7C0;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
}
/* Общие стили для мобильных устройств */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    margin: 0 10px; /* Пример отступа по краям */
  }
.menucont_li p {
  display: none;
}
.menucont_buttons {
  display: none;
}
.menucont_li {
  width: auto;
  padding: 11px;
}
.sidebar_logo {
  flex-direction: column;
  margin-bottom: 20px;
}
.logo_name {
  font-size: 14px;
  line-height: 14px;
}
.sidebar {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  align-items: center;
  justify-content: flex-start;
}
.sidebar_profile {
  flex-direction: column;
  align-items: flex-start;
}
.profile_wrap_name {
  margin: 0;
}
.profile_name {
color: #000;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.1px;
}
  .profile_work {
    color: #757575;
font-family: Poppins;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.08px;
  }
  .mainsect_hello {
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .mainsect_table {
    padding: 0;
    min-width: 500px;
  }
  .mainsect_costumers {
color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.14px;
  }
  .mainsect_members{
    color: #16C098;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.1px;
  }
  .mainsect_costumers_list{
    padding: 0;
  }
  .mainsect {
    padding-top: 16px;
    margin-left: 6px;
  }
  .mainsect_column_list_company li {
    color: #292D32;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 14px;
letter-spacing: -0.1px;
  }
  .mainsect_column_list_company li:nth-child(1) {
    color: #B5B7C0;

    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    margin-right: 27px;
    margin-bottom: 16px;
  }
  .mainsect_column_list_name li {
    color: #292D32;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
margin-bottom: 14px;
line-height: normal;
letter-spacing: -0.1px;
  }  .mainsect_column_list_name li:nth-child(1) {
    color: #B5B7C0;

    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    margin-right: 27px;
    margin-bottom: 16px;
  }

  .mainsect_column_list_number li {
    color: #292D32;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 14px;
letter-spacing: -0.1px;
  }  
  .mainsect_column_list_number li:nth-child(1) {
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    margin-right: 27px;
    margin-bottom: 16px;
  }
  .mainsect_column_list_email li {
    color: #292D32;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 14px;
letter-spacing: -0.1px;
  }
  .mainsect_column_list_email li:nth-child(1) {
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    margin-right: 32px;
    margin-bottom: 16px;
  }

  .mainsect_label {
    margin: 0;
  }
  .mainsect_input {
    width: 50%;
  }
  .mainsect_column_list_country li {
    color: #292D32;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.1px;
margin-bottom: 14px;
  }
  .mainsect_column_list_country li:nth-child(1) {
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    margin-right: 27px;
    margin-bottom: 16px;
  }
  .mainsect_column_list_status li:nth-child(1) {
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
  }
  .mainsect_active_button {
    color: #008767;
padding: 0px 11px;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 15px;
letter-spacing: -0.1px;
margin-bottom: 14px;
width: 50%;
  }
  .mainsect_inactive_button {
    color: #DF0404;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 15px;
letter-spacing: -0.1px;
margin-bottom: 14px;
width: 50%;
padding: 0px 11px;
  }
  .mainsect_info_page {
    font-size: 10px;
  }
  .mainsect_list_navigation_buttons {
    gap: 8px;
  }
  .mainsect_searchline {
 margin-bottom: 20px;
  }
}